{% block navigation-content %}

    {% block main-navigation %}
        <h3 class="sg-section-sub-title">Main navigation</h3>
        <nav class="site-nav">
            <ul>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
            </ul>
        </nav>
    {% endblock main-navigation %}

    {% block sub-navigation %}
        <h3 class="sg-section-sub-title">Sub navigation</h3>
        <nav class="sub-nav">
            <ul>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
                <li>
                    <a href="/">Nav item</a>
                </li>
            </ul>
        </nav>
    {% endblock sub-navigation %}

{% endblock navigation-content %}
