{% block widgets-content %}

    {% block widget-basic %}
        <article class="widget standard-widget {% block basic-widget-class %}{% endblock basic-widget-class %}">
            <header class="widget-header">
                <div class="widget-header-inner">
                    {% block basic-widget-header %}
                        <h1 class="widget-title">
                            <span class="widget-title-inner">Basic widget example</span>
                        </h1>
                    {% endblock basic-widget-header %}
                </div>
            </header>

            <section class="widget-body">
                <div class="widget-body-inner">
                    {% block basic-widget-body %}
                        Widget body content
                    {% endblock basic-widget-body %}
                </div>
            </section>

            <footer class="widget-footer">
                <div class="widget-footer-inner">
                    {% block basic-widget-footer %}
                        Widget footer content
                    {% endblock basic-widget-footer %}
                </div>
            </footer>
        </article>
    {% endblock widget-basic %}

    {% block widget-featured %}
        <article class="widget standard-widget {% block featured-widget-class %}{% endblock featured-widget-class %}">
            <header class="widget-header">
                <div class="widget-header-inner">
                    {% block featured-widget-header %}
                        <h1 class="widget-title">
                            <span class="widget-title-inner">Featured widget example</span>
                        </h1>
                    {% endblock featured-widget-header %}
                </div>
            </header>

            <section class="widget-body">
                <div class="widget-body-inner">
                    {% block featured-widget-body %}
                        Widget body content
                    {% endblock featured-widget-body %}
                </div>
            </section>

            <footer class="widget-footer">
                <div class="widget-footer-inner">
                    {% block featured-widget-footer %}
                        Widget footer content
                    {% endblock featured-widget-footer %}
                </div>
            </footer>
        </article>
    {% endblock widget-featured %}

    {% block widgets-extra %}{% endblock widgets-extra %}

{% endblock widgets-content %}
