{% block widgets_content %}

    {% block widget_basic %}
        <article class="widget standard-widget {% block basic_widget_class %}{% endblock %}">
            <header class="widget-header">
                <div class="widget-header-inner">
                    {% block basic_widget_header %}
                        <h1 class="widget-title">
                            <span class="widget-title-inner">Basic widget example</span>
                        </h1>
                    {% endblock %}
                </div>
            </header>

            <section class="widget-body">
                <div class="widget-body-inner">
                    {% block basic_widget_body %}
                        Widget body content
                    {% endblock %}
                </div>
            </section>

            <footer class="widget-footer">
                <div class="widget-footer-inner">
                    {% block basic_widget_footer %}
                        Widget footer content
                    {% endblock %}
                </div>
            </footer>
        </article>
    {% endblock %}

    {% block widget_featured %}
        <article class="widget standard-widget {% block featured_widget_class %}{% endblock %}">
            <header class="widget-header">
                <div class="widget-header-inner">
                    {% block featured_widget_header %}
                        <h1 class="widget-title">
                            <span class="widget-title-inner">Featured widget example</span>
                        </h1>
                    {% endblock %}
                </div>
            </header>

            <section class="widget-body">
                <div class="widget-body-inner">
                    {% block featured_widget_body %}
                        Widget body content
                    {% endblock %}
                </div>
            </section>

            <footer class="widget-footer">
                <div class="widget-footer-inner">
                    {% block featured_widget_footer %}
                        Widget footer content
                    {% endblock %}
                </div>
            </footer>
        </article>
    {% endblock %}

    {% block widgets_extra %}{% endblock %}

{% endblock %}
