{% block buttons_content %}

    <h3 class="sg-section-sub-title">Button usage</h3>

    {% block buttons_intro %}
        <p>A paragraph of text you can use to explain how your button styles work</p>
    {% endblock %}

    {% block button_examples %}
        <h3 class="sg-section-sub-title">Button Exmaples</h3>

        {% block button_basic %}
            <button>Basic button</button>
            <a class="button">Basic button anchor</a>
        {% endblock %}

        {% block button_basic_icon %}
            <button class="button_icon">Basic with icon</button>
        {% endblock %}

        {% block button_alt %}
            <button class="button_alt">Alt button</button>
        {% endblock %}

        {% block button_alt_icon %}
            <button class="button_alt button_icon">Alt button</button>
        {% endblock %}

        {% block button_round %}
            <button class="button_round">Round button</button>
        {% endblock %}

    {% endblock %}

{% endblock %}
