{% block colors_content %}

    <h3 class="sg-section-sub-title">Color usage</h3>

    {% block colors_intro %}
        <p>When using a colour in a sass file, please try to use a descriptive variable name not the colour name itself. This will allow for easy reskinning in future.</p>
    {% endblock %}

    {% block main_colors %}
        <h3 class="sg-section-sub-title">Main colors</h3>

        {% for color, hex in colors %}
            <div class="color {{ color }}">
                <p class="color-name">{{ color }}</p>
                <div class="color-block sg-color-block"></div>
                <p class="hexcode">{{ hex }}</p>
            </div><!-- color -->
        {% endfor %}
    {% endblock %}

    {% block greys %}
        <h3 class="sg-section-sub-title">Greys</h3>

        <div class="color grey-light-6">
            <p class="color-name">grey-light-6</p>
            <div class="color-block"></div>
            <p class="hexcode">Lighten 45%</p>
        </div><!-- color -->

        <div class="color grey-light-5">
            <p class="color-name">grey-light-5</p>
            <div class="color-block"></div>
            <p class="hexcode">Lighten 40%</p>
        </div><!-- color -->

        <div class="color grey-light-4">
            <p class="color-name">grey-light-4</p>
            <div class="color-block"></div>
            <p class="hexcode">Lighten 35%</p>
        </div><!-- color -->

        <div class="color grey-light-3">
            <p class="color-name">grey-light-3</p>
            <div class="color-block"></div>
            <p class="hexcode">Lighten 30%</p>
        </div><!-- color -->

        <div class="color grey-light-2">
            <p class="color-name">grey-light-2</p>
            <div class="color-block"></div>
            <p class="hexcode">Lighten 20%</p>
        </div><!-- color -->

        <div class="color grey-light-1">
            <p class="color-name">grey-light-1</p>
            <div class="color-block"></div>
            <p class="hexcode">Lighten 10%</p>
        </div><!-- color -->

        <div class="color grey-base">
            <p class="color-name">grey-base</p>
            <div class="color-block"></div>
            <p class="hexcode">Base grey</p>
        </div><!-- color -->

        <div class="color grey-dark-1">
            <p class="color-name">grey-dark-1</p>
            <div class="color-block"></div>
            <p class="hexcode">Darken 10%</p>
        </div><!-- color -->

        <div class="color grey-dark-2">
            <p class="color-name">grey-dark-2</p>
            <div class="color-block"></div>
            <p class="hexcode">Darken 20%</p>
        </div><!-- color -->

        <div class="color grey-dark-3">
            <p class="color-name">grey-dark-3</p>
            <div class="color-block"></div>
            <p class="hexcode">Darken 30%</p>
        </div><!-- color -->

        <div class="color grey-dark-4">
            <p class="color-name">grey-dark-4</p>
            <div class="color-block"></div>
            <p class="hexcode">Darken 40%</p>
        </div><!-- color -->
    {% endblock %}

{% endblock %}
