{% block icons_content %}

    <h3 class="sg-section-sub-title">Icon usage</h3>

    {% block icons_intro %}
        <p>Add icon files to the icon directory, grunt will compile the file names into json and use that to add them to the style guide</p>
    {% endblock %}

    {% block main_icons %}
        <h3 class="sg-section-sub-title">Available icons</h3>

        <div class="sg-icon-wrapper">

            {% for icon, name in icons %}
                <div class="icon {{ icon }}">
                    <svg class="inline-svg svg-{{ icon }}">
                        <use xlink:href="#svg-{{ icon }}"></use>
                    </svg>
                    <span class="icon-name">{{ icon }}</span>
                </div><!-- icon -->
            {% endfor %}
        </div>
    {% endblock %}

{% endblock %}
