{% block lists_content %}

    <div class="feincms-content">
        {% block unordered_lists %}
            <h3 class="sg-section-sub-title">Unordered Lists</h3>

            <ul class="sg-ul">
                <li>List item example</li>
                <li>List item example</li>
                <li>A list within a list
                    <ul>
                        <li>Nested list item example</li>
                        <li>Nested list item example</li>
                        <li>Nested list item example</li>
                    </ul>
                </li>
                <li>List item example</li>
            </ul>

        {% endblock %}

        {% block ordered_lists %}
            <h3 class="sg-section-sub-title">Ordered Lists</h3>

            <ol class="sg-ol">
                <li>List item example</li>
                <li>List item example</li>
                <li>A list within a list
                    <ol>
                        <li>Nested list item example</li>
                        <li>Nested list item example</li>
                        <li>Nested list item example</li>
                    </ol>
                </li>
                <li>List item example</li>
            </ol>
        {% endblock %}

        {% block lists_extra %}{% endblock %}
    </div>

{% endblock %}
