{% block tables_content %}

    {% block table_elements %}
        <h3 class="sg-section-sub-title">Table Elements</h3>

        <table class="sg-table content-table">
            {% block thead %}
                <thead>
                    <tr>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                </thead>
            {% endblock %}
            {% block tbody %}
                <tbody>
                    <tr>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    <tr>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    <tr>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    <tr>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                </tbody>
            {% endblock %}
            {% block tfoot %}{% endblock %}
        </table>

    {% endblock %}

    {% block table_classes %}
        <h3 class="sg-section-sub-title">Table Classes</h3>

        <div class="table">
            {% block thead_class %}
                <div class="thead">
                    <div class="tr">
                        <div class="th">Table heading</div>
                        <div class="th">Table heading</div>
                        <div class="th">Table heading</div>
                        <div class="th">Table heading</div>
                        <div class="th">Table heading</div>
                        <div class="th">Table heading</div>
                    </div>
                </div>
            {% endblock %}
            {% block tbody_class %}
                <div class="tbody">
                    <div class="tr">
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                    </div>
                    <div class="tr">
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                        <div class="td">Table cell</div>
                    </div>
                </div>
            {% endblock %}
            {% block tfoot_class %}{% endblock %}
        </div>

    {% endblock %}

{% endblock %}
