{% block typography-content %}

    {% block fonts-section %}
        <h3 class="sg-section-sub-title">Fonts</h3>
        <p>The following fonts are available for use on this project</p>
        {% block font-main %}
            <p>
                <span>{% block font-main-name %}Font main{% endblock font-main-name %}</span>
                <span>{% block font-main-variable %}$font-main{% endblock font-main-variable %}</span>
            </p>
        {% endblock font-main %}

        {% block font-bold %}
            <p>
                <span>{% block font-bold-name %}Font bold{% endblock font-bold-name %}</span>
                <span>{% block font-bold-variable %}$font-bold{% endblock font-bold-variable %}</span>
            </p>
        {% endblock font-bold %}

        {% block font-italic %}
            <p>
                <span>{% block font-italic-name %}Font italic{% endblock font-italic-name %}</span>
                <span>{% block font-italic-variable %}$font-italic{% endblock font-italic-variable %}</span>
            </p>
        {% endblock font-italic %}

        {% block font-bold-italic %}
            <p>
                <span>{% block font-bold-italic-name %}Font bold-italic{% endblock font-bold-italic-name %}</span>
                <span>{% block font-bold-italic-variable %}$font-bold-italic{% endblock font-bold-italic-variable %}</span>
            </p>
        {% endblock font-bold-italic %}

        {% block font-alt %}
            <p>
                <span>{% block font-alt-name %}Font alt{% endblock font-alt-name %}</span>
                <span>{% block font-alt-variable %}$font-alt{% endblock font-alt-variable %}</span>
            </p>
        {% endblock font-alt %}

        {% block font-extra %}{% endblock font-extra %}
    {% endblock fonts-section %}

    {% block font-use-section %}
        <h3 class="sg-section-sub-title">Font usage</h3>

        <h1>Heading 1 Example</h1>
        <h2>Heading 2 Example</h2>
        <h3>Heading 3 Example</h3>
        <h4>Heading 4 Example</h4>
        <h5>Heading 5 Example</h5>
        <h6>Heading 6 Example</h6>

        <p>This is an example paragraph. Make meme, make cute face spread kitty litter all over house but all of a sudden cat goes crazy scratch leg; meow for can opener to feed me destroy the blinds for russian blue and asdflkjaertvlkjasntvkjn (sits on keyboard). The dog smells bad present belly, scratch hand when stroked sit in box and climb leg stare out the window spread kitty litter all over house. Sleep on keyboard. Poop in litter box, scratch the walls kick up litter soft kitty warm kitty little ball of furr knock dish off table head butt can't eat out of my own dish.</p>

        <p><strong>This is some text in a strong tag</strong> and <b>here is some in a b tag</b></p>
        <p><em>This is some text in an em tag</em> and <i>here this is an i tag</i></p>
        <p><em><strong>This text is both bold and italic</strong></em></p>

        {% block font-use-extra %}{% endblock font-use-extra %}

    {% endblock font-use-section %}

    {% block links-section %}
        <h3 class="sg-section-sub-title">Links</h3>

        {% block inline-link %}
            <p>Make meme, make cute face spread kitty litter all over house but all of a sudden cat goes crazy scratch leg <a href="">This is an inline text link</a> knock dish off table head butt</p>
        {% endblock inline-link %}

        {% block alt-link %}
            <a href="">
                <span>This is an alt link</span>
                {% block alt-link-icon %}{% endblock alt-link-icon %}
            </a>
        {% endblock alt-link %}

        {% block links-extra %}{% endblock links-extra %}

    {% endblock links-section %}

    {% block typography-extra %}{% endblock typography-extra %}

{% endblock typography-content %}
