{% block typography_content %}

    {% block fonts_section %}
        <h3 class="sg-section-sub-title">Fonts</h3>
        <p>The following fonts are available for use on this project</p>
        {% block font_main %}
            <p>
                <span>{% block font_main_name %}Font regular{% endblock %}</span>
                <span>{% block font_main_variable %}$font-regular{% endblock %}</span>
            </p>
        {% endblock %}

        {% block font_bold %}
            <p>
                <b>
                    <span>{% block font_bold_name %}Font bold{% endblock %}</span>
                    <span>{% block font_bold_variable %}$font-bold{% endblock %}</span>
                </b>
            </p>
        {% endblock %}

        {% block font_italic %}
            <p>
                <em>
                    <span>{% block font_italic_name %}Font italic{% endblock %}</span>
                    <span>{% block font_italic_variable %}$font-italic{% endblock %}</span>
                </em>
            </p>
        {% endblock %}

        {% block font_bold_italic %}
            <p>
                <b><em>
                    <span>{% block font_bold_italic_name %}Font bold-italic{% endblock %}</span>
                    <span>{% block font_bold_italic_variable %}$font-bold-italic{% endblock %}</span>
                </em></b>
            </p>
        {% endblock %}

        {% block font_alt_%}
            <p class="sg-font-alt">
                <span>{% block font_alt_name %}Font alt{% endblock %}</span>
                <span>{% block font_alt_variable %}$font-alt{% endblock %}</span>
            </p>
        {% endblock %}

        {% block font_extra %}{% endblock %}
    {% endblock %}

    {% block font_use_section %}
        <h3 class="sg-section-sub-title">Font usage</h3>

        <h1>Heading 1 Example</h1>
        <h2>Heading 2 Example</h2>
        <h3>Heading 3 Example</h3>
        <h4>Heading 4 Example</h4>
        <h5>Heading 5 Example</h5>
        <h6>Heading 6 Example</h6>

        <p>This is an example paragraph. Make meme, make cute face spread kitty litter all over house but all of a sudden cat goes crazy scratch leg; meow for can opener to feed me destroy the blinds for russian blue and asdflkjaertvlkjasntvkjn (sits on keyboard). The dog smells bad present belly, scratch hand when stroked sit in box and climb leg stare out the window spread kitty litter all over house. Sleep on keyboard. Poop in litter box, scratch the walls kick up litter soft kitty warm kitty little ball of furr knock dish off table head butt can't eat out of my own dish.</p>

        <p>This is an example paragraph. Make meme, make cute face spread kitty litter all over house but all of a sudden cat goes crazy scratch leg; meow for can opener to feed me destroy the blinds for russian blue and asdflkjaertvlkjasntvkjn (sits on keyboard).</p>

        <p>This is an example paragraph. The dog smells bad present belly, scratch hand when stroked sit in box and climb leg stare out the window spread kitty litter all over house. Sleep on keyboard. Poop in litter box, scratch the walls kick up litter soft kitty warm kitty little ball of furr knock dish off table head butt can't eat out of my own dish.</p>

        <p><strong>This is some text in a strong tag</strong> and <b>This is some text in a b tag</b></p>
        <p><em>This is some text in an em tag</em> and <i>This is some text in an i tag</i></p>
        <p><em><strong>This text is both bold and italic</strong></em></p>

        <code>This is some text inside a code element</code>

        {% block font_use_extra %}{% endblock %}

    {% endblock %}

    {% block links_section %}
        <h3 class="sg-section-sub-title">Links</h3>

        {% block inline_link %}
            <p>Make meme, make cute face spread kitty litter all over house but all of a sudden cat goes crazy scratch leg <a href="">This is an inline text link</a> knock dish off table head butt</p>
        {% endblock %}

        {% block alt_link %}
            <a href="">
                <span>This is an alt link</span>
                {% block alt_link_icon %}{% endblock %}
            </a>
        {% endblock %}

        {% block links_extra %}{% endblock %}

    {% endblock %}

    {% block typography_extra %}{% endblock %}

{% endblock %}
