<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta name="description" content="Incuna-style-guide: Living CSS Style Guide from Incuna Ltd.">

        <link rel="stylesheet" type="text/css" media="screen" href="../../styles/main.css">

        <title>Style Guide</title>
    </head>

    <body class="style-guide-base">

        <header class="page-header">
            <div class="structure">
                <h1 class="title">Style Guide</h1>
                <h2 class="tagline">Living style guide from Incuna Ltd.</h2>
            </div>
        </header>

        <main class="main-content structure">

            <section class="intro">
                
                    <p class="intro-text">
                        <span>When styling a new section or element on </span>
                        <span class="project-name">this project, </span>
                        <span>please refer to the guide below. Stick to the colour palette when possible - if a colour doesn't exist here, check with the designer whether an existing colour can be used, or a new one needs to be added. Try to avoid unecessary repetition</span>
                    </p>
                
                
                    <h3>Jump to a section:</h3>
                    <h4>Components</h4>
                    <ul>
                        
                            <li><a href="#colors-example">Colors</a></li>
                        
                        
                            <li><a href="#buttons-example">Buttons</a></li>
                        
                        
                            <li><a href="#icons-example">Icons</a></li>
                        
                        
                            <li><a href="#typography-example">Typography</a></li>
                        
                        
                            <li><a href="#lists-example">lists</a></li>
                        
                        
                            <li><a href="#tables-example">Tables</a></li>
                        
                        
                            <li><a href="#forms-example">Form elements</a></li>
                        
                        
                            <li><a href="#notifications-example">Notification styles</a></li>
                        
                    </ul>
                    

                
            </section>

            <section class="components">
                <h2 class="section-title">Components</h2>

                
                    <div class="colors-section" id="colors-example">
                        <h3>Colors</h3>
                        
                    </div>
                

                
                    <div class="buttons-section" id="buttons-example">
                        <h3>Buttons</h3>
                        
                    </div>
                

                
                    <div class="icons-section" id="icons-example">
                        <h3>Icons</h3>
                        
                    </div>
                

                
                    <div class="typography-section" id="typography-example">
                        <h3>Typography</h3>
                        
                    </div>
                

                
                    <div class="lists-section" id="lists-example">
                        <h3>Lists</h3>
                        
                    </div>
                

                
                    <div class="tables-section" id="tables-example">
                        <h3>Tables</h3>
                        
                    </div>
                

                
                    <div class="forms-section" id="forms-example">
                        <h3>Forms</h3>
                        
                    </div>
                

                
                    <div class="notifications-section" id="notifications-example">
                        <h3>Notifications</h3>
                        
                    </div>
                
            </section>

            
                <section class="ux-elements">
                    <h2 class="section-title">UX Elements</h2>
                    
                </section>
            

        </main>

        <footer class="page-footer">
            
                <div class="structure">
                    <p class="copyright">Incuna-style-guide maintained by <a href="https://github.com/incuna">Incuna Ltd.</a></p>
                </div>
            
        </footer>

    </body>


</html>
