{% block ui-content %}

    {% block ui-intro %}
        <p>A paragraph you can use to talk about interactive elements on your site.</p>
    {% endblock ui-intro %}

    {% block view-toggle %}
        <h3 class="sg-section-sub-title">View toggle</h3>

        <div class="toggle-buttons">
            <button class="view-button view-one">
                <span translate>View one</span>
            </button>
            <button class="view-button view-two">
                <span translate>View two</span>
            </button>
        </div>
    {% endblock view-toggle %}

    {% block switch %}
        <h3 class="sg-section-sub-title">Switch</h3>

        <div class="switch-wrapper">
            <div class="switch">
                <div class="option">Option one</div>
                <div class="option">Option two</div>
           </div>
        </div>
    {% endblock switch %}

    {% block ui-extra %}{% endblock ui-extra %}

{% endblock ui-content %}
