.style-guide-page
    font:
        family: 'Lato', sans-serif
    *
        box-sizing: border-box

    .structure
        max-width: $site-width
        margin: 0 auto
        padding: 0 $site-small-padding

.sg-header,
.sg-footer
    .structure
        padding: 60px $site-small-padding

.sg-header
    background: $grey-10

.sg-footer
    background: $grey-10
    color: $white
    margin:
        top: 100px
    a
        color: $white

.sg-title,
.sg-tagline
    color: $white
    text-shadow: 0px 0px 10px $grey-11

.sg-title
    font:
        size: 42px
        weight: 700

.sg-tagline
    font:
        size: 24px
        weight: 300

.sg-main-content
    position: relative

.sg-intro-text
    padding: 2.4em 0

.sg-main-section-title,
.sg-section-header,
.sg-section-sub-title
    padding: 1em 0
    margin: 0

.sg-main-section-title
    display: block
    background: $grey-5
    color: $white
    text-align: center

.sg-section-header
    background: $grey-1
    color: $grey-6

.sg-section-sub-title
    padding:
        bottom: 0.2em
    border:
        bottom: 2px solid $grey-2

.sg-section
    margin:
        bottom: 60px

.sg-main-section
    padding:
        bottom: 40px

    &:last-of-type
        border: 0

.back-to-top
    position: fixed
    bottom: 20px
    right: 0
