.icon
    display: inline-block
    vertical-align: middle
    padding: 8px
    margin: 10px
    border:
        radius: 8px
    background: $grey-3

    .icon-name,
    .inline-svg
        display: inline-block
        vertical-align: middle

    .inline-svg
        width: 15px
        height: 15px
        fill: $grey-8
        margin:
            left: 10px
