.sg-section-nav
    width: 220px
    position: fixed
    top: 40px
    right: 20px
    z-index: 10

.sg-section-nav-header
    display: block
    margin: 0
    padding: 12px
    border: 1px solid $grey-3
    background: $grey-1
    text-align: center

.sg-section-nav-title
    @include transition(background 0.2s ease)
    background: $grey-3
    display: block
    margin: 0
    padding: 14px
    border:
        bottom: 1px solid $grey-4
    cursor: pointer
    position: relative

    &::after
        @include transition(all 0.2s ease-out)
        @include transform(rotate(0))
        content: '∇'
        transform:
            origin: center
        font-size: 16px
        line-height: 1
        color: $grey-5
        position: absolute
        right: 14px
        top: 15px

    #{$hover-states},
    &.open
        background: $grey-2

        &::after
            color: $grey-4

    &.open
        &::after
            @include transform(rotate(180deg))

.sg-section-nav-list
    @include transition(max-height 0.25s ease-out)
    list-style-type: none
    margin: 0
    padding: 0
    max-height: 0
    overflow: hidden

    &.open
        max-height: 500px

    a
        display: block
        padding: 14px
        border: 1px solid $grey-2
        background: $white
