

    <h3>Button usage</h3>

    
        <p>A paragraph of text you can use to explain how your button styles work</p>
    

    
        <h3>Button Exmaples</h3>

        
            <button>Basic button</button>
            <a class="button">Basic button anchor</a>
        

        
            <button class="button-icon">Basic with icon</button>
        

        
            <button class="button-alt">Alt button</button>
        

        
            <button class="button-alt button-icon">Alt button</button>
        

        
            <button class="button-round">Round button</button>
        

    


