{% block expanding_content %}

    {% block expanding_intro %}
        <p>A paragraph you can use to describe your expanding / collapsing content - how and when it is used.</p>
    {% endblock %}

    {% block expanding_example %}

        <article class="expanding-content">
            <header>
                <h3>Expanding content example</h3>
                <span class="button button-show"></span>
            </header>
            <div class="content">Expanding content inner</div>
        </article>

    {% endblock %}

    {% block expanding_extra %}{% endblock %}

{% endblock %}
