{% block expanding-content %}

    {% block expanding-intro %}
        <p>A paragraph you can use to describe your expanding / collapsing content - how and when it is used.</p>
    {% endblock expanding-intro %}

    {% block expanding-example %}

        <article class="expanding-content">
            <header>
                <h3>Expanding content example</h3>
                <span class="button button-show"></span>
            </header>
            <div class="content">Expanding content inner</div>
        </article>

    {% endblock expanding-example %}

    {% block expanding-extra %}{% endblock expanding-extra %}

{% endblock expanding-content %}
