{% block transitions_content %}

    {% block hover_section %}
        <h3 class="sg-section-sub-title">Hover transitions</h3>

        {% block hover_intro %}
            <p>A paragraph you can use to describe your hover transitions on buttons / links etc</p>
        {% endblock %}

        {% block hover_examples %}
            <button>Button hover</button>

            <a href="/">Link hover</a>
        {% endblock %}

        {% block hover_extra %}{% endblock %}

    {% endblock %}

    {% block transitions_extra %}{% endblock %}

{% endblock %}
