{% block transitions-content %}

    {% block hover-section %}
        <h3 class="sg-section-sub-title">Hover transitions</h3>

        {% block hover-intro %}
            <p>A paragraph you can use to describe your hover transitions on buttons / links etc</p>
        {% endblock hover-intro %}

        {% block hover-examples %}
            <button>Button hover</button>

            <a href="/">Link hover</a>
        {% endblock hover-examples %}

        {% block hover-extra %}{% endblock hover-extra %}

    {% endblock hover-section %}

    {% block transitions-extra %}{% endblock transitions-extra %}

{% endblock transitions-content %}
