{% block ui_content %}

    {% block ui_intro %}
        <p>A paragraph you can use to talk about interactive elements on your site.</p>
    {% endblock %}

    {% block view_toggle %}
        <header class="sg-section-sub-title">
            <h3 class="structure">View toggle</h3>
        </header>

        <div class="toggle-buttons">
            <button class="view-button view-one">
                <span translate>View one</span>
            </button>
            <button class="view-button view-two">
                <span translate>View two</span>
            </button>
        </div>
    {% endblock %}

    {% block switch %}
        <header class="sg-section-sub-title">
            <h3 class="structure">Switch</h3>
        </header>

        <div class="switch-wrapper">
            <div class="switch">
                <div class="option">Option one</div>
                <div class="option">Option two</div>
           </div>
        </div>
    {% endblock %}
    {% block ui_extra %}{% endblock %}

{% endblock %}
