<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta name="description" content="Incuna-style-guide: Living CSS Style Guide from Incuna Ltd.">

        <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css">

        <title>Style Guide</title>
    </head>

    <body class="style-guide-page">

        <header class="{% block header-class %}sg-header{% endblock header-class %}">
            <div class="structure">
                <h1 class="sg-title">Style Guide</h1>
                <h2 class="sg-tagline">{% block tagline %}Living style guide from Incuna Ltd.{% endblock tagline %}</h2>
            </div>
        </header>

        <main class="sg-main-content">

            <section class="sg-intro">
                {% block intro-text %}
                    <p class="sg-intro-text structure">
                        <span>When styling a new section or element on </span>
                        <span class="sg-project-name">{% block project-name %}this project{% endblock project-name %}, </span>
                        <span>please refer to the guide below. Stick to the colour palette when possible - if a colour doesn't exist here, check with the designer whether an existing colour can be used, or a new one needs to be added. Try to avoid unecessary repetition</span>
                    </p>
                {% endblock intro-text %}
                {% block section-nav %}
                    <nav class="sg-section-nav structure">
                        <h3>Jump to a section:</h3>
                        <h4><a href="#components-section">Components</a></h4>
                        <ul>
                            {% block nav-item-colors %}
                                <li><a href="#colors-example">Colors</a></li>
                            {% endblock nav-item-colors %}
                            {% block nav-item-buttons %}
                                <li><a href="#buttons-example">Buttons</a></li>
                            {% endblock nav-item-buttons %}
                            {% block nav-item-icons %}
                                <li><a href="#icons-example">Icons</a></li>
                            {% endblock nav-item-icons %}
                            {% block nav-item-typography %}
                                <li><a href="#typography-example">Typography</a></li>
                            {% endblock nav-item-typography %}
                            {% block nav-item-lists %}
                                <li><a href="#lists-example">lists</a></li>
                            {% endblock nav-item-lists %}
                            {% block nav-item-tables %}
                                <li><a href="#tables-example">Tables</a></li>
                            {% endblock nav-item-tables %}
                            {% block nav-item-forms %}
                                <li><a href="#forms-example">Form elements</a></li>
                            {% endblock nav-item-forms %}
                            {% block nav-item-messages %}
                                <li><a href="#messages-example">messages</a></li>
                            {% endblock nav-item-messages %}
                        </ul>
                        {% block additional-sections %}
                            <h4><a href="#page-section">Page elements</a></h4>
                            <ul>
                                {% block nav-item-page-titles %}
                                    <li><a href="#page-titles-example">page-titles</a></li>
                                {% endblock nav-item-page-titles %}
                                {% block nav-item-widgets %}
                                    <li><a href="#widgets-example">widgets</a></li>
                                {% endblock nav-item-widgets %}
                                {% block nav-item-navigation %}
                                    <li><a href="#navigation-example">navigation</a></li>
                                {% endblock nav-item-navigation %}
                            </ul>
                            <h4><a href="#ux-section">UX elements</h4>
                            <ul>
                                {% block nav-item-transitions %}
                                    <li><a href="#transitions-example">transitions</a></li>
                                {% endblock nav-item-transitions %}
                                {% block nav-item-expanding-collapsing %}
                                    <li><a href="#expanding-collapsing-example">expanding-collapsing</a></li>
                                {% endblock nav-item-expanding-collapsing %}
                                {% block nav-item-ui-elements %}
                                    <li><a href="#ui-elements-example">ui-elements</a></li>
                                {% endblock nav-item-ui-elements %}
                            </ul>
                        </nav>
                    {% endblock additional-sections %}

                {% endblock section-nav %}
            </section>

            <section class="sg-main-section sg-components" id="components-section">
                <h2 class="sg-main-section-title">Components</h2>

                {% block colors %}
                    <section class="sg-section colors-section" id="colors-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Colors</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/colors.html' %}
                        </div>
                    </section>
                {% endblock colors %}

                {% block buttons %}
                    <section class="sg-section buttons-section" id="buttons-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Buttons</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/buttons.html' %}
                        </div>
                    </section>
                {% endblock buttons %}

                {% block icons %}
                    <section class="sg-section icons-section" id="icons-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Icons</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/icons.html' %}
                        </div>
                    </section>
                {% endblock icons %}

                {% block typography %}
                    <section class="sg-section typography-section" id="typography-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Typography</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/typography.html' %}
                        </div>
                    </section>
                {% endblock typography %}

                {% block lists %}
                    <section class="sg-section lists-section" id="lists-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Lists</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/lists.html' %}
                        </div>
                    </section>
                {% endblock lists %}

                {% block tables %}
                    <section class="sg-section tables-section" id="tables-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Tables</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/tables.html' %}
                        </div>
                    </section>
                {% endblock tables %}

                {% block forms %}
                    <section class="sg-section forms-section" id="forms-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Forms</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/forms.html' %}
                        </div>
                    </section>
                {% endblock forms %}

                {% block messages %}
                    <section class="sg-section messages-section" id="messages-example">
                        <header class="sg-section-header">
                            <h2 class="sg-section-title structure">Messages</h2>
                        </header>
                        <div class="sg-section-content structure">
                            {% include 'components/messages.html' %}
                        </div>
                    </section>
                {% endblock messages %}
            </section>

            {% block page-block %}
                <section class="sg-main-section sg-page-elements" id="page-section">
                    <h2 class="sg-main-section-title">Page Elements</h2>
                    {% block page-block-inner %}

                        {% block page-titles %}
                            <section class="sg-section page-titles-section" id="page-titles-example">
                                <header class="sg-section-header">
                                    <h2 class="sg-section-title structure">Page-titles</h2>
                                </header>
                                <div class="sg-section-content structure">
                                    {% include 'page-elements/page-titles.html' %}
                                </div>
                            </section>
                        {% endblock page-titles %}

                        {% block widgets %}
                            <section class="sg-section widgets-section" id="widgets-example">
                                <header class="sg-section-header">
                                    <h2 class="sg-section-title structure">Widgets</h2>
                                </header>
                                <div class="sg-section-content structure">
                                    {% include 'page-elements/widgets.html' %}
                                </div>
                            </section>
                        {% endblock widgets %}

                        {% block navigation %}
                            <section class="sg-section navigation-section" id="navigation-example">
                                <header class="sg-section-header">
                                    <h2 class="sg-section-title structure">Navigation</h2>
                                </header>
                                <div class="sg-section-content structure">
                                    {% include 'page-elements/navigation.html' %}
                                </div>
                            </section>
                        {% endblock navigation %}

                    {% endblock page-block-inner %}
                </section>
            {% endblock page-block %}

            {% block ux-block %}
                <section class="sg-main-section sg-ux-elements" id="ux-section">
                    <h2 class="sg-main-section-title">UX Elements</h2>
                    {% block uxinner %}

                        {% block transitions %}
                            <section class="sg-section transitions-section" id="transitions-example">
                                <header class="sg-section-header">
                                    <h2 class="sg-section-title structure">Transitions</h2>
                                </header>
                                <div class="sg-section-content structure">
                                    {% include 'ux-elements/transitions.html' %}
                                </div>
                            </section>
                        {% endblock transitions %}

                        {% block expanding-coallpsing %}
                            <section class="sg-section expanding-collapsing-section" id="expanding-collapsing-example">
                                <header class="sg-section-header">
                                    <h2 class="sg-section-title structure">Expanding / collapsing content</h2>
                                </header>
                                <div class="sg-section-content structure">
                                    {% include 'ux-elements/expanding-collapsing.html' %}
                                </div>
                            </section>
                        {% endblock expanding-coallpsing %}

                        {% block ui-elements %}
                            <section class="sg-section ui-elements-section" id="ui-elements-example">
                                <header class="sg-section-header">
                                    <h2 class="sg-section-title structure">UI-elements</h2>
                                </header>
                                <div class="sg-section-content structure">
                                    {% include 'ux-elements/ui-elements.html' %}
                                </div>
                            </section>
                        {% endblock ui-elements %}

                    {% endblock uxinner %}
                </section>
            {% endblock ux-block %}

        </main>

        <footer class="{% block footer-class %}sg-footer{% endblock footer-class %}">
            {% block footer-content %}
                <div class="structure">
                    <p class="sg-copyright">Incuna-style-guide maintained by <a href="https://github.com/incuna">Incuna Ltd.</a></p>
                </div>
            {% endblock footer-content %}
        </footer>

    </body>

</html>
