<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta name="description" content="Incuna-style-guide: Living CSS Style Guide from Incuna Ltd.">

        <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css">

        <title>Style Guide</title>
    </head>

    <body class="style-guide-base">

        <header class="{% block header-class %}page-header{% endblock header-class %}">
            <div class="structure">
                <h1 class="title">Style Guide</h1>
                <h2 class="tagline">{% block tagline %}Living style guide from Incuna Ltd.{% endblock tagline %}</h2>
            </div>
        </header>

        <main class="main-content structure">

            <section class="intro">
                {% block intro-text %}
                    <p class="intro-text">
                        <span>When styling a new section or element on </span>
                        <span class="project-name">{% block project-name %}this project{% endblock project-name %}, </span>
                        <span>please refer to the guide below. Stick to the colour palette when possible - if a colour doesn't exist here, check with the designer whether an existing colour can be used, or a new one needs to be added. Try to avoid unecessary repetition</span>
                    </p>
                {% endblock intro-text %}
                {% block section-nav %}
                    <h3>Jump to a section:</h3>
                    <h4>Components</h4>
                    <ul>
                        {% block nav-item-colors %}
                            <li><a href="#colors-example">Colors</a></li>
                        {% endblock nav-item-colors %}
                        {% block nav-item-buttons %}
                            <li><a href="#buttons-example">Buttons</a></li>
                        {% endblock nav-item-buttons %}
                        {% block nav-item-icons %}
                            <li><a href="#icons-example">Icons</a></li>
                        {% endblock nav-item-icons %}
                        {% block nav-item-typography %}
                            <li><a href="#typography-example">Typography</a></li>
                        {% endblock nav-item-typography %}
                        {% block nav-item-lists %}
                            <li><a href="#lists-example">lists</a></li>
                        {% endblock nav-item-lists %}
                        {% block nav-item-tables %}
                            <li><a href="#tables-example">Tables</a></li>
                        {% endblock nav-item-tables %}
                        {% block nav-item-forms %}
                            <li><a href="#forms-example">Form elements</a></li>
                        {% endblock nav-item-forms %}
                        {% block nav-item-notifications %}
                            <li><a href="#notifications-example">Notification styles</a></li>
                        {% endblock nav-item-notifications %}
                    </ul>
                    {% block additional-sections %}{% endblock additional-sections %}

                {% endblock section-nav %}
            </section>

            <section class="components">
                <h2 class="section-title">Components</h2>

                {% block colors %}
                    <div class="colors-section" id="colors-example">
                        <h2>Colors</h2>
                        {% include 'components/colors.html' %}
                    </div>
                {% endblock colors %}

                {% block buttons %}
                    <div class="buttons-section" id="buttons-example">
                        <h2>Buttons</h2>
                        {% include 'components/buttons.html' %}
                    </div>
                {% endblock buttons %}

                {% block icons %}
                    <div class="icons-section" id="icons-example">
                        <h2>Icons</h2>
                        {% include 'components/icons.html' %}
                    </div>
                {% endblock icons %}

                {% block typography %}
                    <div class="typography-section" id="typography-example">
                        <h2>Typography</h2>
                        {% include 'components/typography.html' %}
                    </div>
                {% endblock typography %}

                {% block lists %}
                    <div class="lists-section" id="lists-example">
                        <h2>Lists</h2>
                        {% include 'components/lists.html' %}
                    </div>
                {% endblock lists %}

                {% block tables %}
                    <div class="tables-section" id="tables-example">
                        <h2>Tables</h2>
                        {% include 'components/tables.html' %}
                    </div>
                {% endblock tables %}

                {% block forms %}
                    <div class="forms-section" id="forms-example">
                        <h2>Forms</h2>
                        {% include 'components/forms.html' %}
                    </div>
                {% endblock forms %}

                {% block notifications %}
                    <div class="notifications-section" id="notifications-example">
                        <h2>Notifications</h2>
                        {% include 'components/notifications.html' %}
                    </div>
                {% endblock notifications %}
            </section>

            {% block uxblock %}
                <section class="ux-elements">
                    <h2 class="section-title">UX Elements</h2>
                    {% block uxinner %}{% endblock uxinner %}
                </section>
            {% endblock uxblock %}

            {{ people }}

        </main>

        <footer class="{% block footer-class %}page-footer{% endblock footer-class %}">
            {% block footer-content %}
                <div class="structure">
                    <p class="copyright">Incuna-style-guide maintained by <a href="https://github.com/incuna">Incuna Ltd.</a></p>
                </div>
            {% endblock footer-content %}
        </footer>

    </body>

</html>
