<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta name="description" content="Incuna-style-guide: Living CSS Style Guide from Incuna Ltd.">

        <link rel="stylesheet" type="text/css" media="screen" href="styles/style-guide.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css">
        <script src="./scripts/jquery-3.2.1.min.js"></script>
        <script src="./scripts/scroll-to-top.js"></script>
        <script src="./scripts/style-guide.js"></script>

        <title>Style Guide</title>
    </head>

    <body class="style-guide-page">

        <span class="inline-svg-map">
            {% include './svgstore/svg-defs.svg' %}
        </span>

        {% include './base/style-guide-base.html' %}
    </body>

</html>
