$black: #000
$white: #fff

// Greys
$base-grey: #7f7f7f !default
// light greys
$grey-light-6: lighten($base-grey, 45%) !default
$grey-light-5: lighten($base-grey, 40%) !default
$grey-light-4: lighten($base-grey, 35%) !default
$grey-light-3: lighten($base-grey, 30%) !default
$grey-light-2: lighten($base-grey, 20%) !default
$grey-light-1: lighten($base-grey, 10%) !default
// base grey
$grey-base: $base-grey !default
// dark greys
$grey-dark-1: darken($base-grey, 10%) !default
$grey-dark-2: darken($base-grey, 20%) !default
$grey-dark-3: darken($base-grey, 30%) !default
$grey-dark-4: darken($base-grey, 40%) !default
