$black: #000
$white: #fff

// Greys
$base-grey: #7f7f7f !default
// light greys
$grey-1: lighten($base-grey, 45%) !default
$grey-2: lighten($base-grey, 40%) !default
$grey-3: lighten($base-grey, 35%) !default
$grey-4: lighten($base-grey, 30%) !default
$grey-5: lighten($base-grey, 20%) !default
$grey-6: lighten($base-grey, 10%) !default
// base grey
$grey-7: $base-grey !default
// dark greys
$grey-8: darken($base-grey, 10%) !default
$grey-9: darken($base-grey, 20%) !default
$grey-10: darken($base-grey, 30%) !default
$grey-11: darken($base-grey, 40%) !default
