{% block forms-content %}

    {% block forms-example %}
        <h3 class="section-sub-title">Example Form</h3>

        <form  action="" method="post">
            {% block text-fields %}
                <fieldset>
                    <div id="div_id_name" class="control-group">
                        <label for="id_name" class="control-label requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls">
                            <input class="textinput textInput" id="id_name" maxlength="255" name="name" placeholder="Your name" type="text" />
                        </div>
                    </div>
                    <div id="div_id_email" class="control-group">
                        <label for="id_email" class="control-label requiredField">
                            Email address<span class="asteriskField">*</span>
                        </label>
                        <div class="controls">
                            <input class="emailinput" id="id_email" name="email" placeholder="Your email" type="email" />
                        </div>
                    </div>
                    <div id="div_id_mobile" class="control-group">
                        <label for="id_mobile" class="control-label ">
                            Mobile
                        </label>
                        <div class="controls">
                            <input class="textinput textInput" id="id_mobile" maxlength="255" name="mobile" placeholder="Your mobile phone number" type="text" />
                        </div>
                    </div>
                    <div id="div_id_password1" class="control-group">
                        <label for="id_password1" class="control-label requiredField">
                            Password<span class="asteriskField">*</span>
                        </label>
                        <div class="controls">
                            <input class="textinput textInput" id="id_password1" name="password1" placeholder="Password" type="password" />
                            <p id="hint_id_password1" class="help-block">Passwords should be <strong>8 characters</strong> or more and contain at least one <strong>uppercase letter</strong>, one <strong>lowercase letter</strong>, and <strong>one number</strong></p>
                        </div>
                    </div>
                </fieldset>
            {% endblock text-fields %}

            {% block radio-fields %}
                <fieldset class="fieldset-animals ">
                    <h2>Animals<span class="asteriskField">*</span></h2>
                    <div id="div_id_animals" class="control-group">
                        <label for="id_animals_0" class="control-label requiredField">
                            Which animal is best?<span class="asteriskField">*</span>
                        </label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="animals" id="id_animals_1">
                                Panda
                            </label>
                            <label class="radio">
                                <input type="radio" name="animals" id="id_animals_2">
                                Platypus
                            </label>
                            <label class="radio">
                                <input type="radio" name="animals" id="id_animals_3">
                                Porcupine
                            </label>
                        </div>
                    </div>
                </fieldset>
            {% endblock radio-fields %}

            {% block checkbox-fields %}
                <fieldset class="fieldset-user-options">
                    <div id="div_id_new_content_emails" class="control-group">
                        <div class="controls">
                            <label for="id_new_content_emails" class="checkbox ">
                                <input class="checkboxinput" id="id_new_content_emails" name="new_content_emails" type="checkbox" />
                                Please email me about new animals.
                            </label>
                        </div>
                    </div>
                    <div id="div_id_terms" class="control-group">
                        <div class="controls">
                            <label for="id_terms" class="checkbox requiredField">
                                <input class="checkboxinput" id="id_terms" name="terms" type="checkbox" />
                                I confirm I have read the animal policy.
                            </label>
                        </div>
                    </div>
                </fieldset>
            {% endblock checkbox-fields %}

            {% block forms-extra %}{% endblock forms-extra %}

            {% block form-actions %}
                <div class="form-actions">
                    <button type="submit" class="btn">Submit</button>
                </div>
            {% endblock form-actions %}
        </form>
    {% endblock forms-example %}

    {% block form-errors %}
        <h3 class="section-sub-title">Form Errors</h3>

        {% block form-errors-intro %}
            <p>Form errors are displayed in various ways as demonstrated below</p>
        {% endblock form-errors-intro %}

    {% endblock form-errors %}

{% endblock forms-content %}
