{% block icons-content %}

    <h3 class="section-sub-title">Icon usage</h3>

    {% block icons-intro %}
        <p>When using a colour in a sass file, please try to use a descriptive variable name not the colour name itself. This will allow for easy reskinning in future.</p>
    {% endblock icons-intro %}

    {% block main-icons %}
        <h3 class="section-sub-title">Available icons</h3>

        {% for icon in icons %}
            <div class="icon {{ loop.key }}">
                <span class="icon-name">{{ loop.key }}</span>
                <svg class="inline-svg svg-{{ loop.key }}">
                    <use xlink:href="#svg-{{ loop.key }}"></use>
                </svg>
            </div><!-- icon -->
        {% endfor %}
    {% endblock main-icons %}

{% endblock icons-content %}
