{% block lists-content %}

    {% block unordered-lists %}
        <h3 class="section-sub-title">Unordered Lists</h3>

        <ul>
            <li>List item example</li>
            <li>List item example</li>
            <li>A list within a list
                <ul>
                    <li>Nested list item example</li>
                    <li>Nested list item example</li>
                    <li>Nested list item example</li>
                </ul>
            </li>
            <li>List item example</li>
        </ul>

    {% endblock unordered-lists %}

    {% block ordered-lists %}
        <h3 class="section-sub-title">Ordered Lists</h3>

        <ol>
            <li>List item example</li>
            <li>List item example</li>
            <li>A list within a list
                <ol>
                    <li>Nested list item example</li>
                    <li>Nested list item example</li>
                    <li>Nested list item example</li>
                </ol>
            </li>
            <li>List item example</li>
        </ol>
    {% endblock ordered-lists %}

    {% block lists-extra %}{% endblock lists-extra %}

{% endblock lists-content %}
